form {
    width: 100%;
    margin: 25px 0 25px 0;
}

main {
    max-width: 960px;
    margin: 0 auto;
    padding: 50px;
    background: rgba(0, 0, 0, 0.5);
}

input {
    margin-right: 4px;
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    text-align: center;
}

section {
    margin-bottom: 20px;
}

button {
    margin-left: 15px;
}

#playlists {
    font-size: 1.2em;
    line-height: 2.2em;
}

li {
    list-style-type: decimal-leading-zero;
}

thead {
    text-transform: uppercase;
}

h1 {
    margin-bottom: 20px;
}

.badge {
    margin-left: 15px;
}

.search-results {
    line-height: 2.3em;
}