body {
    background-image: linear-gradient(rgba(30,53,75,0.95), rgba(30,53,75,0.85)), url("../images/background3.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

form {
    width: 100%;
    margin: 25px 0 25px 0;
}

main {
    max-width: 920px;
    margin: 0 auto;
    padding: 50px;
    background: rgba(0, 0, 0, 0.8);
}

input {
    margin-right: 4px;
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    text-align: center;
}

section {
    margin-bottom: 20px;
}

button {
    margin-left: 15px;
}

#playlists {
    font-size: 1.2em;
    line-height: 2.2em;
}

thead {
    text-transform: uppercase;
}

h1 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 1.8em;
}

.badge {
    margin-left: 15px;
}

.search-results {
    line-height: 2.3em;
}

td {
    font-size: 1.1em;
}

.img-container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

/*****************
----- SPINNER ----
******************/

.spinner {
    margin: 50px auto;
    width: 80px;
    height: 40px;
    text-align: center;
    font-size: 30px;
}


.spinner > div {
    background-color: #FFF;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
}  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
    }
}

.hidden {
    display: none;
}